<div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
  <ul class="nav flex-column flex-nowrap overflow-hidden">
    <li class="nav-item">
      <a class="nav-link text-truncate" href="#"><i class="fa fa-home"></i>
        <span class="d-none d-sm-inline">Overview</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed text-truncate" href="#users-submenu" data-toggle="collapse" data-target="#users-submenu"><i class="fa fa-user-circle"></i>
        <span class="d-none d-sm-inline">Users</span></a>
      <div class="collapse" id="users-submenu" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
          <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
          <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed text-truncate" href="#widgets-submenu" data-toggle="collapse" data-target="#widgets-submenu"><i class="fa fa-cogs"></i>
        <span class="d-none d-sm-inline">Widgets</span></a>
      <div class="collapse" id="widgets-submenu" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
          <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
          <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
        </ul>
      </div>
    </li>

  </ul>
</div>
