<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Kind</th>
    <th scope="col">User</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @widgets.each do |widget| %>
    <tr>
      <td scope="row"><%= widget['name'] %></td>
      <td scope="row"><%= widget['description'] %></td>
      <td scope="row"><%= widget['kind'] %></td>
      <td scope="row"><%= widget['user']['name'] %></td>
      <td scope="row">
        <a href="">
          <i class="fa fa-edit fa-lg"></i>
        </a>
        <a href="">
          <i class="fa fa-trash fa-lg"></i>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>