<div class="modal fade" id="create-widget-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <%= render partial: 'widgets/widget_form' %>
      </div>
    </div>
  </div>
</div>