<ul class="nav navbar-nav">
    
    <form action="#" method="get" class="form-horizontal">
        <div class="form-group">
          <input type="text" name="q" class="form-control col-md-8" placeholder="Search...">
            <button type="submit" name="search" class="btn btn-xs col-md-4 btn-succcess">Search</i></button>
        </div>
    </form>
</ul>